{% apply spaceless %}
    {% set entity = contribution.entity %}
    {% if entity.type == constant('App\\Entity\\Entity::PER_TYPE') %}
        <a href="{{ path('people_show', {'id': entity.id}) }}">{{ entity }}</a>
    {% elseif entity.type == constant('App\\Entity\\Entity::ORG_TYPE') %}
        <a href="{{ path('organization_show', {'id': entity.id}) }}">{{ entity }}</a>
    {% else %}
        <i>Cannot link a {{ entity.type }}</i>
    {% endif %}
    ({{ contribution.task }})
{% endapply %}
