{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>ReferencedPerson</h1>
 {% endblock %} 

{% block body %}

    <div class="btn-toolbar">
    <div class="btn-group pull-right">
        <a href="{{ path('referenced_person_index') }}" class="btn btn-default">
            <span class="glyphicon glyphicon-arrow-left"></span> Back
        </a>
        {% if is_granted('ROLE_CONTENT_ADMIN') %}
        <a href="{{ path('referenced_person_edit', { 'id': referencedPerson.id }) }}" class="btn btn-default">
            <span class='glyphicon glyphicon-edit'></span> Edit
        </a>
        <a href="{{ path('referenced_person_delete', { 'id': referencedPerson.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this ReferencedPerson?">
            <span class='glyphicon glyphicon-remove'></span> Delete
        </a>
        {% endif %}
    </div>
</div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
            <tr>
                <th>Lastname</th>
            <td>{{ referencedPerson.lastName }}</td>
            </tr>
            <tr>
                <th>Firstname</th>
            <td>{{ referencedPerson.firstName }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
            <td>{{ referencedPerson.birthDate }}</td>
            </tr>
            <tr>
                <th>Deathdate</th>
            <td>{{ referencedPerson.deathDate }}</td>
            </tr>
            <tr>
                <th>Sameaspeopleentityid</th>
            <td>{{ referencedPerson.sameAsPeopleEntityId }}</td>
            </tr>
            <tr>
                <th>Referencedpersonuri</th>
            <td>{{ referencedPerson.referencedPersonUri }}</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
