{% extends 'base.html.twig' %}

{% block title %}Binding Features{% endblock %}

{% block pageheader %}
    <h1>Binding Feature List</h1>
    <p class="count">
        Displaying {{ bindingFeatures|length }} binding features of {{ bindingFeatures.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('binding_feature_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr><th>Binding Feature</th></tr>
        </thead>
        <tbody>
            {% for bindingFeature in bindingFeatures %}
                <tr>
                    <td>
                        <a href="{{ path('binding_feature_show', { 'id': bindingFeature.id }) }}">
                            {{ bindingFeature.bindingFeature }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(bindingFeatures) }}
    </div>

{% endblock %}
