{% extends 'base.html.twig' %}

{% block title %}Tasks{% endblock %}

{% block pageheader %}
    <h1>Task List</h1>
    <p class="count">
        Displaying {{ tasks|length }} tasks of {{ tasks.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('task_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr><th>Task Name</th><th>Entry Count</th></tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <a href="{{ path('task_show', { 'id': task.id }) }}">
                            {{ task.taskName }}
                        </a>
                    </td>
                    <td>{{ task.contributions.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(tasks) }}
    </div>

{% endblock %}
