{% extends 'base.html.twig' %}

{% block title %}People{% endblock %}

{% block pageheader %}
    <h1>People</h1>
{% endblock %}

{% block body %}
    <div class="btn-toolbar">
        <div class="btn-group pull-right">
            <a href="{{ path('people_index') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-arrow-left"></span> Back
            </a>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('people_edit', { 'id': person.id }) }}" class="btn btn-default">
                    <span class='glyphicon glyphicon-edit'></span> Edit
                </a>
                <a href="{{ path('people_delete', { 'id': person.id }) }}" class="btn btn-default" data-confirm="Are you sure you want to delete this person?">
                    <span class='glyphicon glyphicon-remove'></span> Delete
                </a>
            {% endif %}
        </div>
    </div>
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody><tr>
                <th>Last Name</th>
                <td>{{ person.lastName }}</td>
            </tr><tr>
                <th>First Name</th>
                <td>{{ person.firstName }}</td>
            </tr><tr>
                <th>Other Last Name</th>
                <td>{{ person.otherLastName }}</td>
            </tr><tr>
                <th>Other First Name</th>
                <td>{{ person.otherFirstName }}</td>
            </tr><tr>
                <th>Birth Date</th>
                <td>{{ person.birthDate }}</td>
            </tr><tr>
                <th>Death Date</th>
                <td>{{ person.deathDate }}</td>
            </tr><tr>
                <th>Gender</th>
                <td>{{ person.gender }}</td>
            </tr><tr>
                <th>Biographical Notes</th>
                <td>{{ person.biographicalNotes|nl2br }}</td>
            </tr><tr>
                <th>Biographical Annotation</th>
                <td>{{ person.biographicalAnnotation|nl2br }}</td>
            </tr><tr>
                <th>Nationality</th>
                <td>{{ person.nationality }}</td>
            </tr><tr>
                <th>People URI</th>
                <td>{{ person.peopleUri }}</td>
            </tr><tr>
                <th>Resident In the Lake District</th>
                <td>{% if person.residentInLd %}Yes{% else %}No{% endif %}</td>
            </tr><tr>
                <th>Resident In London</th>
                <td>{% if person.residentInLondon %}Yes{% else %}No{% endif %}</td>
            </tr><tr>
                <th>Resident Outside UK</th>
                <td>{% if person.residentOutsideUk %}Yes{% else %}No{% endif %}</td>
            </tr><tr>
                <th>Travel Outside UK</th>
                <td>{% if person.travelOutsideUk %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Birthplace</th>
                <td>
                    {% if person.birthPlace is not null %}
                        <a href="{{ path('place_show', { 'id': person.birthPlace.id}) }}">
                            {{ person.birthPlace }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Deathplace</th>
                <td>
                    {% if person.deathPlace is not null %}
                        <a href="{{ path('place_show', { 'id': person.deathPlace.id}) }}">
                            {{ person.deathPlace }}
                        </a>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Travels</th>
                <td>
                    {% if person.travels | length > 0 %}
                        <ul>
                            {% for travels in person.travels %}
                                <li>
                                    <a href="{{ path("place_show", {"id":travels.id}) }}">
                                        {{ travels }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Residences</th>
                <td>
                    {% if person.residences | length > 0 %}
                        <ul>
                            {% for residences in person.residences %}
                                <li>
                                    <a href="{{ path("place_show", {"id":residences.id}) }}">
                                        {{ residences }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>
                    {% if person.roles | length > 0 %}
                        <ul>
                            {% for roles in person.roles %}
                                <li>
                                    <a href="{{ path("role_show", {"id":roles.id}) }}">
                                        {{ roles }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>

    <h2>Contributions</h2>
    {{ include('contribution/partial/list.html.twig', {
        'contributions': person.contributions,
        'partial': 'book-link.html.twig',
    }) }}

{% endblock %}
