{% extends 'base.html.twig' %}

{% block title %}Bibliographic Terms{% endblock %}

{% block pageheader %}
    <h1>Bibliographic Terms List</h1>
    <p class="count">
        Displaying {{ bibliographicTerms|length }} bibliographic terms of {{ bibliographicTerms.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('bibliographic_terms_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr><th>Bibliographic Term</th><th>Use For Format</th><th>Use For Photographs</th><th>Use For Illustrations</th>            </tr>
        </thead>
        <tbody>
            {% for bibliographicTerm in bibliographicTerms %}
                <tr>
                    <td>
                        <a href="{{ path('bibliographic_terms_show', { 'id': bibliographicTerm.id }) }}">
                            {{ bibliographicTerm.bibliographicTerm }}
                        </a>
                    </td>
                    <td>{% if bibliographicTerm.useForFormat %}Yes{% else %}No{% endif %}</td>
                    <td>{% if bibliographicTerm.useForPhotographs %}Yes{% else %}No{% endif %}</td>
                    <td>{% if bibliographicTerm.useForIllustrations %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(bibliographicTerms) }}
    </div>

{% endblock %}
