{% extends 'base.html.twig' %}

{% block title %}Genres{% endblock %}

{% block pageheader %}
    <h1>Genre List</h1>
    <p class="count">
        Displaying {{ genres|length }} genres of {{ genres.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('genre_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr><th>Genre Name</th><th>Genre Usage Note</th><th>Entry Count</th></tr>
        </thead>
        <tbody>
            {% for genre in genres %}
                <tr>
                    <td>
                        <a href="{{ path('genre_show', { 'id': genre.id }) }}">
                            {{ genre.genreName }}
                        </a>
                    </td>
                    <td>{{ genre.genreUsageNote }}</td>
                    <td>{{ genre.books.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(genres) }}
    </div>

{% endblock %}
