{% extends 'base.html.twig' %}

{% block title %}Places{% endblock %}

{% block pageheader %}
    <h1>Place List</h1>
    <p class="count">
        Displaying {{ places|length }} places of {{ places.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    {% include 'partial/search.html.twig' with {'route': 'place_search', 'label': 'Name search'} %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('place_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr><th>Place Name</th></tr>
        </thead>
        <tbody>
            {% for place in places %}
                <tr>
                    <td>
                        <a href="{{ path('place_show', { 'id': place.id }) }}">
                            {{ place.placeName }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(places) }}
    </div>

{% endblock %}
