{% extends 'base.html.twig' %}

{% block title %}Place Search{% endblock %}

{% block pageheader %}
    <h1>Place Search</h1>
    {% if places|length %}
        <p class="count">
            Displaying {{ places|length }} places of {{ places.getTotalItemCount }} total.
        </p>
    {% endif %}
{% endblock %}

{% block body %}

    {% include 'partial/search.html.twig' with {'route': 'place_search', 'label': 'Name search'} %}

    {% if places|length %}
        <table class="table table-bordered table-condensed table-hover table-striped">
            <thead>
                <tr>
                    <th>Place Name</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Region ID</th>
                    <th>Country ID</th>            </tr>
            </thead>
            <tbody>
                {% for place in places %}
                    <tr>
                        <td>
                            <a href="{{ path('place_show', { 'id': place.id }) }}">
                                {{ place.placeName }}
                            </a>
                        </td>
                        <td>{{ place.latitude }}</td>
                        <td>{{ place.longitude }}</td>
                        <td>{{ place.regionId }}</td>
                        <td>{{ place.countryId }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="navigation">
            {{ knp_pagination_render(places) }}
        </div>
    {% endif %}

{% endblock %}
