{% extends 'base.html.twig' %}

 {% block pageheader %} 
    <h1>Place List</h1>
    <p class="count">
        Displaying {{ places|length }} places of {{ places.getTotalItemCount }} total.
    </p>
 {% endblock %} 

{% block body %}

        <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{ path('place_new') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-plus"></span> New
            </a>
            <a href="{{ path('place_search') }}" class="btn btn-default">
                <span class="glyphicon glyphicon-search"></span> Search
            </a>
        </div>
    </div>
        
    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Placename</th>
                <th>Placeuri</th>
                <th>Inlakedistrict</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Regionid</th>
                <th>Countryid</th>            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>
                    <a href="{{ path('place_show', { 'id': place.id }) }}">
                        {{ place.placeName }}
                    </a>
                </td>
                <td>{{ place.placeUri }}</td>
                <td>{% if place.inLakeDistrict %}Yes{% else %}No{% endif %}</td>
                <td>{{ place.latitude }}</td>
                <td>{{ place.longitude }}</td>
                <td>{{ place.regionId }}</td>
                <td>{{ place.countryId }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
        
    <div class="navigation">
        {{ knp_pagination_render(places) }}
    </div>

{% endblock %}
