{% extends 'base.html.twig' %}

{% block title %}Other National Editions{% endblock %}

{% block pageheader %}
    <h1>Other National Edition List</h1>
    <p class="count">
        Displaying {{ otherNationalEditions|length }} other national editions of {{ otherNationalEditions.getTotalItemCount }} total.
    </p>
{% endblock %}

{% block body %}

    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            {% if is_granted('ROLE_CONTENT_ADMIN') %}
                <a href="{{ path('other_national_edition_new') }}" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span> New
                </a>
            {% endif %}
        </div>
    </div>

    <table class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr><th>Publication Date</th>            </tr>
        </thead>
        <tbody>
            {% for otherNationalEdition in otherNationalEditions %}
                <tr>
                    <td>
                        <a href="{{ path('other_national_edition_show', { 'id': otherNationalEdition.id }) }}">
                            {{ otherNationalEdition.publicationDate }}
                        </a>
                    </td>
                    <td>
                        {{ otherNationalEdition.book }}
                    </td>
                    <td>
                        {{ otherNationalEdition.place }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(otherNationalEditions) }}
    </div>

{% endblock %}
