{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{{ '{% block title %}' ~ entity ~ '{% endblock %}' }}

{{ " {% block pageheader %} "}}
    <h1>{{ entity }}</h1>
{{ " {% endblock %} "}}

{% block body %}
{{ "{% block body %}" }}
    {% include 'crud/views/others/record_actions.html.twig.twig' %}
    <table class="table table-bordered table-condensed table-hover table-striped">
        <tbody>
        {%- for field, metadata in fields if field != 'id' %}

            <tr>
                <th>{{ field|capitalize }}</th>

            {%- if metadata.type in ['datetime'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['date'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['time'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['array'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}</td>

            {%- elseif metadata.type in ['boolean'] %}

                <td>{{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}Yes{% else %}No{% endif %}' }}</td>

            {%- else %}

                <td>{{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}</td>

            {%- endif %}

            </tr>

        {%- endfor %}
        
        {%- for field, association in associations if association['type'] == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_ONE') %}
        
            <tr>
                <th>{{ field|capitalize }}</th>
                <td>
                    <a href="{{ "{{ path('" ~ field ~ "_show', { 'id': " ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '.' ~ identifier  ~ '}) }}' }}">
                        {{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}
                    </a>
                </td>
            </tr>
        
        {%- endfor %}
        
        {%- for field, association in associations if association['type'] == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::MANY_TO_MANY') %}
        
            <tr>
                <th>{{ field|capitalize }}</th>         
                <td>
                    {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' | length > 0 %}' }}
                    <ul>
                        {{ '{% for ' ~ field ~ ' in ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}' }}
                        <li>
                            <a href="{{ '{{ path("' ~ field ~ '_show", {"id":' ~ field ~ '.' ~ identifier ~ '}) }}' }}">
                                {{ '{{ ' ~ field ~ ' }}' }}
                            </a>
                        </li>
                        {{ '{% endfor %} ' }}
                    </ul>
                    {{ '{% endif %}' }}
                </td>
            </tr>
        {%- endfor %}
        
        </tbody>
    </table>
        
    {%- for field, association in associations if association['type'] == constant('Doctrine\\ORM\\Mapping\\ClassMetadataInfo::ONE_TO_MANY') %}

    {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' | length > 0 %}' }}    
    <h2>{{ field|capitalize }}</h2>
    <ul>
        {{ '{% for ' ~ field ~ ' in ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}' }}
        <li>
            <a href="{{ '{{ path("' ~ field ~ '_show", {"id":' ~ field ~ '.' ~ identifier ~ '}) }}' }}">
                {{ '{{ ' ~ field ~ ' }}' }}
            </a>
        </li>
        {{ '{% endfor %} ' }}
    </ul>
    {{ '{% endif %}' }}
    
    {%- endfor %}

{% endblock body %}
{{ "{% endblock %}" }}
